
*{margin: 0; padding: 0;
}
body{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
}
.div-menu{
border:2px solid ;
align-items: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
background-color: white;
color: black;
font-size: 16px;
}
.menu-1{
list-style:none;
border:0px solid black;
float:left;
}
.menu-1 li{
position:relative;
float:left;
border-right:0px solid black;
padding: 1px 0px;
}
.menu-1 li a{
color: black;
text-decoration:none;
padding:5px 10px;
display:block;
}

.menu-1 li a:hover{
background:black;
color:#ccc;
-moz-box-shadow:0 3px 10px 0 black;
-webkit-box-shadow:0 3px 10px 0 black;
text-shadow:0px 0px 5px white;
background-color: black;
color:#ccc;
}
.menu-1 li ul{
color: white;
position:absolute;
top:30px; left:0;
background-color:black  ;
display:none;
border:2px solid #CCC;
}
.menu-1 li:hover ul{ display:block;

}
.menu-1 li ul li{
border:1px solid black;
display:block;
width:150px;

}
.menu-1 li ul li a{
    color: white;
}
.menu-1 li ul li a:hover{
    color: white;
background-color: grey;
}